.logo {
    width: 40%;
    margin-top: 2%
}

.side{
    height: auto !important;
    min-height: 100%;
    overflow-x:hidden;
}

.sideText{
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    padding-top: 3%;
    padding-bottom: 3%;
    
}

.no-x-scroll{
    overflow-x:hidden;
}

.zoom {
    transition: transform .1s; /* Animation */
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.8);
}

.zoomText {
    transition: transform .1s; /* Animation */
    margin: 0 auto;
}

.zoomText:hover {
    color:black;
    background-color:white;
    
}

.delay{
    transition-delay: 2s;
}

.not-square{
    border-radius: 50px !important
}

.noStyle{
    all:unset !important;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
  }