.logo {
    width: 40%;
    margin-top: 2%
}

.side{
    height: auto !important;
    min-height: 100%;
    overflow-x:hidden;
}

.sideText{
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    
}

.no-x-scroll{
    overflow-x:hidden;
}

.no-y-scroll{
    overflow-y:hidden;
}

.zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}
.zoom:hover {
    transform: scale(1.2);
}

.zoomPoster {
    transition: transform .2s; /* Animation */
}
.zoomPoster:hover {
    transform: scale(1.2);
}

.zoomText {
    transition: transform .1s; /* Animation */
    margin: 0 auto;
}

.zoomText:hover {
    color:black;
    background-color:white;
}

.navMenu {
    transition: transform .1s; /* Animation */
    margin: 0 auto;
}
.navMenu:hover {
    background-color:#424242 ;
    
}
.navMenu2 {
    transition: transform .1s; /* Animation */
    color: #bdbdbd;
    margin: 0 auto;
}
.navMenu2:hover {
    color:white ;
    
}
.navSearch {
    transition: transform .1s; /* Animation */
    margin: 0 auto;
}
.navSearch:hover {
    color:#bdbdbd ;
    
}

.delay{
    transition-delay: 2s;
}

.not-square{
    border-radius: 50px !important
}
.not-square2{
    border-radius: 25px !important
}

.noStyle{
    all:unset !important;
}

.centerbtn{
    margin-top: auto;
    margin-bottom: auto
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 100%; 
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black !important;
    opacity: .4 !important; /* Firefox */
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}

.input-field input[type=text]:focus + label {
    color: #000 !important;
}
.nonText{
    border-bottom: 1px solid rgb(255, 0, 0) !important;
    box-shadow: 0 1px 0 0 #000 !important;
}

.input-field input[type=password]:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}

.input-field input[type=password]:focus + label {
    color: #000 !important;
}

.input-field input[type=number]:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}

.input-field input[type=number]:focus + label {
    color: #000 !important;
}
.input-field textarea[type=text]:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}

.input-field textarea[type=text]:focus + label {
    color: #000 !important;
}

.promocode {
    border: solid gray !important;
}

.trial-banner{
    background: url('./minimalistic-1571321826838-6043.jpg') no-repeat center center fixed ;
    background-size: cover;
}


.btn-trial {
    position: relative;
    top: 0;
    transition: top 0.1s ease-in-out;
}

.btn-trial:hover {
    top: -5px;
}
.posterHome {
    position: relative;
    top: 0;
    transition: top 0.2s ease-in-out;
}

.posterHome:hover {
    top: -20px;
}

.bgaccount {
    /* The image used */
    background-image: url("./Snowy-Mint-Gradient-Wallpaper.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.full{
    height: 100%
}

.poster {
    position: relative;
    width: 50%;
    
}

.image-poster {
    opacity: 1;
    display: block;
    height: auto;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-right: auto;
    margin-left: auto;
    
}

.middle-poster {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.poster:hover .image-poster {
    opacity: 0.3;
}

.poster:hover .middle-poster {
    opacity: 1;
}

.text-poster {
    color:black;
    margin-top: auto;
    margin-bottom: auto;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%        /* Footer height */
  }


html { 
    background: url('./White-Background-High-Definition-Wallpaper-16573.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
